<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Vertical menu with gooey effect on hover</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="./static/styleHP.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

</head>
<body>
<!-- partial:index.partial.html -->

<header class="header">
  <a class="navbar-header">
    <img src="../static/img/logoHori.png" width="276" height="21"> | Sistema de Reserva de Salas <i data-feather="key"></i>
  </a>
</header>


<nav class="navbar">
  <ul class="navbar__menu">
    <li class="navbar__item">
      <a href="/PagInicial" class="navbar__link" id="PagInicialLink"><i data-feather="home"></i><span>Home</span></a>
    </li>
    <li class="navbar__item">
      <a href="/Salas" class="navbar__link" id="SalasLink"><i data-feather="key"></i><span>Reservar Sala</span></a>        
    </li>
    <li class="navbar__item">
      <a href="/Schedule" class="navbar__link" id="ScheduleLink"><i data-feather="clock"></i><span>Reservas</span></a>        
    </li>
    <li class="navbar__item">
      <a href="/Hist" class="navbar__link" id="historicoLink"><i data-feather="archive"></i><span>Histórico</span></a>        
    </li>
    <li class="navbar__item">
      <a href="/Admin" class="navbar__link" id="adminLink"><i data-feather="user"></i><span>Acesso Restrito</span></a>        
    </li>
  </ul>
</nav>

<div class="door-container">
  <br>
  <br>
  <div class="menu-admin-container"> 
    <select id="option"> 
        <option value="1">Cadastrar Novo Usuário</option> 
        <option value="2">Excluir Usuário</option> 
        <option value="3">Resetar Senha de Usuário</option> 
        <option value="4">Mapeamento de Função</option> 
    </select> 
  </div>

  <div class="cadastro-container" id="div1">
    <p>Usuário: <input type="text" id="cadastroUser" /></p>
    <p>Senha: <input type="password" placeholder='••••••••••••••' id='cadastroPass' class='password'></p>
    <label>Função:</label> 
    <select id="funcoes"> 
        <option value="1">Aluno</option> 
        <option value="2">Professor</option> 
        <option value="3">Operador</option> 
        <option value="4">Admin</option> 
    </select><br>
    <p>ID Cartao: <button id="lerCartao">Ler Cartão</button></p>
    <button id="confirmCadastro">Cadastrar</button><br>
  </div>

  <div class="exclusao-container" id="div2">
    <p>Usuário: <input type="text" id="exclusaoUser" /></p>
    <button id="excluirCadastro">Excluir</button><br>
  </div>

  <div class="resetar-container" id="div3">
    <p>Usuário: <input type="text" id="resetUser" /></p>
    <p>Nova Senha: <input type="password" placeholder='••••••••••••••' id='resetPass' class='password'></p>
    <button id="resetCadastro">Resetar</button><br>
  </div>

  <div class="mapear-container" id="div4">
    <p>Usuário: <input type="text" id="mapUser" /></p>
    <label>Função:</label> 
    <select id="funcoes">
        <option value="1">Aluno</option> 
        <option value="2">Professor</option> 
        <option value="3">Operador</option> 
        <option value="4">Admin</option> 
    </select><br>
    <br>
    <button id="mapCadastro">Mapear</button><br>
  </div>

</div>

<!-- partial -->
<script src='https://unpkg.com/feather-icons'></script>
<script  src="./static/scriptAD.js"></script>

</body>
</html>